.mini-bbn-notifications-hover .widget_bbn_content {
  display: none;
}
.mini-bbn-notifications-hover:hover .widget_bbn_content {
  display: block;
  position: absolute;
  z-index: 1;
  max-width: 300px;
  background: white;
  border: solid gray 1px;
}
.bbn-notifications {
  list-style: none;
  margin-left: 0;
}
.bbn-notifications .bbn-notification-row {
  list-style: none;
  overflow: hidden;
}
.bbn-notifications .bbn-notification-row img {
  float: left;
}
.bbn-notifications .bbn-notification-row .bbn-notification-content {
  margin: 0px 0 0 84px;
}
.bbn-notifications .bbn-notification-row .bbn-title {
  font-size: 14px;
  clear: none;
  margin-bottom: 5px;
}
