.mini-bbn-notifications-hover {
	.widget_bbn_content {
		display: none;
	}
	&:hover {
		.widget_bbn_content {
			display: block;
			position: absolute;
			z-index: 1;
			max-width: 300px;
			background: white;
			border: solid gray 1px;
		}
	}
}
.bbn-notifications {
    list-style: none;
    margin-left: 0;
    .bbn-notification-row{
        list-style: none;
        overflow: hidden;
        img{
            float: left;
        }
        .bbn-notification-content{
            margin: 0px 0 0 84px;
        }
        .bbn-title{
            font-size: 14px;
            clear: none;
            margin-bottom: 5px;
        }
        .bbn-text{
        }
    }
}
